.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #111827
}

.dashboard-body {
  display: flex;
  flex: 1;
  /* O padding-left empurra o conteúdo, mas não o Header */
  padding-left: 260px;
  transition: padding-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #111827
}


.dashboard-body.collapsed {
  padding-left: 80px;
}

.main-content {
  flex: 1;
  background: #f5f6fa;
  transition: margin-left 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 0;
  max-height: 100vh;
  background-color: #111827
}

@media (max-width: 768px) {
  .dashboard-body,
  .dashboard-body.collapsed {
    padding-left: 0;
  }
}