.banner-fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}

.banner-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.banner-img-fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s cubic-bezier(0.4,0,0.2,1), transform 0.7s cubic-bezier(0.4,0,0.2,1);
}

.banner-img-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.banner {
  background: linear-gradient(to bottom, #fcd34d 0%, #fff9e7 30%, #ffffff 100%);
  padding: 0rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .banner-img-central {
        height: auto;
        width: 100vw; /* ajuste conforme necessário */
        top: 0;
    }
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

.banner-texto-desktop {
  flex: 1;
  color: #002366;
  margin-left: 30px;
}

.banner-texto-desktop h1 {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #002366;
}

.banner-texto-desktop p {
  font-size: 1.2rem;
  color: #002366;
  font-weight: 500;
}

.banner-img {
  flex: 1;
  max-width: 300px;
  width: 100%;
  height: auto;
}

/* Esconde o texto no mobile, mostra no desktop */
.banner-texto-desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-img-central {
  display: none;
}

@media (max-width: 768px) {
  .banner-texto-desktop {
    display: none;
  }
  .banner-img-central {
    display: block;
    height: auto;
    width: 100vw;
    top: 0;
  }
}

/* Container flex para desktop */
.banner-content-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Imagem do ônibus à direita no desktop */
.banner-img-desktop {
  width: 350px;
  height: auto;
  display: block;
  margin-top: 20px;
}

/* Esconde o conteúdo desktop no mobile */
@media (max-width: 768px) {
  .banner-content-desktop {
    display: none;
  }
  .banner-img-central {
    display: block;
    height: auto;
    width: 100vw;
    top: 0;
  }
}

/* Esconde a imagem desktop no mobile */
@media (max-width: 768px) {
  .banner-img-desktop {
    display: none;
  }
}

